In [1]:
import time
start = time.time()

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn as sns
import joblib
import sqlite3

import nltk
#GitHub needs nltk.download()
import random

#NLP
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
# pd.set_option('max_colwidth', 2000)
# pd.options.display.max_rows = 500
# pd.options.display.max_columns = 500

In [3]:
#Score predictions of fitted model.
def score_algo(model, X, y, prediction):
    from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
    print('-----------------------------------------------')
    print(f'##### {type(model).__name__} - Prediction Scores:')
    print('-----------------------------------------------')
    print('RMSE:', round(np.sqrt(mean_squared_error(y, prediction)), 1))
    print(' R^2:', round(r2_score(y, prediction), 4))
    print(' MAE:', round(mean_absolute_error(y, prediction),1))

In [4]:
def query_table_to_df(dbname_string, query):  
    '''Query sqlite database and return DataFrame.'''
    with sqlite3.connect(dbname_string) as conn: # autocommit mode
        return pd.read_sql(sql=query, con=conn, index_col='index')

In [5]:
#Load data
vehicle = joblib.load('../vehicle.joblib')  #contains sqlite-incompatible data
train=query_table_to_df('auto.sqlite','SELECT * from trainClean')
test=query_table_to_df('auto.sqlite','SELECT * from testClean')
train.index.name=None
test.index.name=None

In [6]:
print('vehicle row count:', len(vehicle))
vehicle.head(1)

vehicle row count: 3458

,URL_Vehicle,Title,Location,Year,Year_in_Title,Odometer,RawMake,Make,Model,Trim,...,ImageDictionary,VehicleID,VIN,Condition,TrimAlternate,DownFlag,LN_Price,Model_Trim,Model_Seller,Trim_Seller
1,https://austin.craigslist.org/cto/d/red-rock-2...,2006 Ford Focus SE,austin,2006,NaN,181000.0,2006 ford focus se,ford,focus,se,...,{'0': 'https://images.craigslist.org/00n0n_dXT...,7022331083,None2,great,se,None,8.006701,focus_se,focus_owner,se_owner

In [7]:
#stop words
stopword_list = nltk.corpus.stopwords.words('english')

In [8]:
#Instantiate CountVectorizer and fit.  Unigrams are (1,1), bigrams are (2,2).  See Feature Engineering p.46.

cv=CountVectorizer(lowercase=True, strip_accents='unicode', ngram_range=(1,1), stop_words=stopword_list)
wc_vector=cv.fit_transform(vehicle['Body'])
wc_vector.shape

(3458, 14013)

In [9]:
#View word count vector
wc_vector_dense = pd.DataFrame(wc_vector.todense(), index=vehicle.index, columns=cv.get_feature_names())
wc_vector_dense.head()

,00,000,0000,000688,000696,000697,000702,000703,000706,000lb,...,zopxhhkqe8sr,zp1629a,zp18843a,zp18944b,zr,zr1,zr17,zr19,zx2,zx4
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist

#Get first 100 rows of Body series.
tokenized = vehicle['Body'].apply(word_tokenize)
tokenized.head(3)

1     [,, 2006, Ford, Focus, in, great, mechanical, ...
5     [,, ,, ,, address, :, ,, phone, :, ☎, ,, text,...
13    [,, Everything, works, ,, Turbo, diesel, ,, Ne...
Name: Body, dtype: object

In [11]:
#POS tag pandas series.  Then convert seriesPOS to table with one tuple (token, token_POS) per row.
seriesPOS = tokenized.apply(nltk.pos_tag)
adjectives = pd.DataFrame([tup for row in seriesPOS for tup in row if tup[1] == 'JJ'], columns=['tok','tok_pos'])
#adjectives = pd.DataFrame([tup for row in seriesPOS for tup in row], columns=['tok','tok_pos'])
print(adjectives.shape)

#Group combined on POS.
tok_piv = adjectives.groupby(['tok_pos','tok'])['tok'].agg({'tok':'count'})
tok_piv.nlargest(5, 'tok')

(50099, 2)

C:\Users\Justin\Anaconda3\envs\ds_env\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version. Use                 named aggregation instead.

    >>> grouper.agg(name_1=func_1, name_2=func_2)

                    tok
tok_pos tok
JJ      used       1743
        new        1459
        other      1235
        Subject    1018
        available   972

In [12]:
adjectives.drop_duplicates(subset=['tok'], inplace=True)
adjectives.shape

(2792, 2)

In [13]:
wcv = wc_vector_dense.transpose().reset_index()
wcv.rename(columns={"index": "token"}, inplace=True)
print(wcv.shape)
wcv.head()

(14013, 3459)

,token,1,5,13,17,20,21,22,26,28,...,10502,10508,10509,10514,10523,10524,10527,10532,10535,10537
0,00,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
1,000,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,000688,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,000696,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
#Join adjectives and wcv on token.  Add row Total.
merged = adjectives.merge(wcv, how='inner', left_on=['tok'], right_on=['token'])
merged.drop(['tok'], axis='columns', inplace=True)
merged.loc[:, 'Total'] = merged.sum(axis=1)

In [15]:
merged.shape

(1160, 3461)

In [16]:
#Sort by most frequent adjective tokens.  Original vehicle index is in column names.
merged.sort_values(ascending=False, by='Total').head()

,tok_pos,token,1,5,13,17,20,21,22,26,...,10508,10509,10514,10523,10524,10527,10532,10535,10537,Total
694,JJ,ford,1,3,0,3,10,1,1,1,...,9,2,1,1,1,1,9,0,1,7372
162,JJ,call,1,0,0,1,0,1,1,1,...,0,2,0,2,1,0,0,0,1,3642
18,JJ,new,0,0,2,1,1,0,1,0,...,1,0,0,0,0,0,1,0,0,3451
65,JJ,used,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2575
193,JJ,f150,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,2511

In [17]:
pd.set_option('max_colwidth', 9000)
vehicle.loc[[5], ['Body','Model']]

,Body,Model
5,"\n ,\n,\n,\naddress: ,phone: ☎ ,text: , ,\nlink: , ,\ncontact: ,\n\n,\n,\n,after hours please text 512-761-7442,\nXL trim, Oxford White exterior and Steel interior. CARFAX 1-Owner. Flex Fuel, Tow Hitch, Edmunds.com's review says Compared to the competition, the 2015 Ford F-250 Super Duty line is remarkably quiet at highway speeds.. ,KEY FEATURES INCLUDE,Flex Fuel, Trailer Hitch. Ford XL with Oxford White exterior and Steel interior features a 8 Cylinder Engine with 385 HP at 5500 RPM*. ,EXPERTS RAVE,Edmunds.com explains Compared to the competition, the 2015 Ford F-250 Super Duty line is remarkably quiet at highway speeds.. ,WHO WE ARE,Here at Chuck Nash we do things a little different. We have been a family owned and operated dealership for over 38 years, and treat our customers as part of that family. We don't believe in pressure sales; but instead we hold the belief that if we treat our customers as we would our family, then we can create a relationship with a customer for life. We just don't want to put you into the car of your dreams and send you on your way, but we want to take care of you, and your vehicle, for years to ,Horsepower calculations based on trim engine configuration. Please confirm the accuracy of the included equipment by calling us prior to purchase. ,4-Wheel ABS., 4-Wheel Disc Brakes., 6-Speed A/T., ,8 Cylinder Engine., A/C., Adjustable Steering Wheel., ,AM/FM Stereo., Brake Assist., Driver Air Bag., ,Driver Lumbar., Electronic Stability Control., Flex Fuel., ,Front Tow Hooks., Full Size Spare Tire., Intermittent Wipers., ,Pass-Through Rear Seat., Passenger Air Bag., Passenger Vanity Mirror., ,Power Steering., Rear Head Air Bag., Rear Wheel Drive., ,Side Head Air Bag., Split Bench Seat., Steel Wheels., ,Tires - Front All-Season., Tires - Rear All-Season., Trailer Hitch., ,Vehicle Anti-Theft System., Vinyl Seats., ,Tire Pressure Monitoring System., Variable Speed Intermittent Wipers., ,\n,\naddress: ,phone: ☎ ,text: , ,\nlink: , ,\ncontact: ,\n\n,\n",f-250

### Get binned train and test

In [51]:
#Get train and test from vehicle.
X = vehicle[['Body','Price']].copy()
Y = pd.DataFrame(X.pop('Price'))  #need df for binning

from sklearn.model_selection import train_test_split
trnX, tstX, trnY, tstY = train_test_split(X, Y, test_size=0.1, random_state=42)

In [50]:
# def get_bins(train_col_df, test_col_df, bincnt = 10, binStrategy='quantile'):
#     '''Bin column dataframes and return binned arrays.'''
#     from sklearn.preprocessing import KBinsDiscretizer
#     kbd = KBinsDiscretizer(n_bins=bincnt, encode='ordinal', strategy=binStrategy)
#     trn_binned = kbd.fit_transform(train_col_df)
#     tst_binned = kbd.transform(test_col_df)
#     return trn_binned, tst_binned
# trn_binned, tst_binned = get_bins(trnY, tstY)

# #Bin histogram for strategy.
# plt.hist(trn_binned)
# plt.show()

### TFIDF scores for X

In [110]:
#Get tf-idf scores for docs.
 
#Instantiate.  Use nltk stop words from above.  strip_accents='unicode' improves slightly.
tf=TfidfVectorizer(stop_words=None, smooth_idf=True, use_idf=True, vocabulary=None, strip_accents='unicode')
 
#Learn vocabulary and idf.  Return term-document matrix for train and test.
trn_vect=tf.fit_transform(trnX['Body'])  #must be series, NOT dataframe
tst_vect=tf.transform(tstX['Body'])  #must be series, NOT dataframe
print('trn_vect shape --', trn_vect.shape)
print('tst_vect shape --', tst_vect.shape)

 
#Put tf-idf values in df.  Rarest are: 260 and gasoline.
df=pd.DataFrame(trn_vect.T.todense(), index=tf.get_feature_names(), columns=trnX.index)
print('\ntrn_vect:')
display(df.head())

#Model
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
rr=Ridge(alpha=0.5)
rr.fit(trn_vect, trnY)
pred_y = rr.predict(tst_vect)

#Score
score_algo(rr, tst_vect, tstY, pred_y)

trn_vect shape -- (3112, 13495)
tst_vect shape -- (346, 13495)

trn_vect:

,6983,3867,5060,4103,2204,7681,160,644,10475,4220,...,3187,1251,6214,4553,9087,2882,2954,3332,2263,9304
00,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.132289,0.0,0.0,0.00000,0.0,0.0
000,0.0,0.0,0.161545,0.014347,0.076855,0.0,0.0,0.0,0.0,0.0,...,0.014674,0.0,0.0,0.0,0.000000,0.0,0.0,0.01527,0.0,0.0
0000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0
000688,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0
000696,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0

-----------------------------------------------
##### Ridge - Prediction Scores:
-----------------------------------------------
RMSE: 8433.4
 R^2: 0.4451
 MAE: 5855.7

### Get word frequencies with TfidfTransformer

In [29]:
#Instantiate.  Use nltk stop words from above.
cv=CountVectorizer(stop_words=stopword_list)
trn_vect=cv.fit_transform(trnX['Body'])  #must be series, NOT dataframe
tst_vect=cv.transform(tstX['Body'])  #must be series, NOT dataframe
print('trn_vect shape --', trn_vect.shape)
print('tst_vect shape --', tst_vect.shape)

#View one-hot word count vector
display(pd.DataFrame(trn_vect.todense(), columns=cv.get_feature_names()).head())

#Compute DF values
tt=TfidfTransformer(use_idf=False)

trn_vect2=tt.fit_transform(trn_vect)  #must be series, NOT dataframe
tst_vect2=tt.transform(tst_vect)  #must be series, NOT dataframe
print('trn_vect shape --', trn_vect2.shape)
print('tst_vect shape --', tst_vect2.shape)

#View tfidtransformer result
print('\ntrn_vect2:')
df2=pd.DataFrame(trn_vect2.todense(), columns=cv.get_feature_names())
display(df2.head())

#Model
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
rr=Ridge(alpha=1)
rr.fit(trn_vect2, trnY)
pred_y = rr.predict(tst_vect2)

#Score
score_algo(rr, tst_vect, tstY, pred_y)

trn_vect shape -- (3112, 13403)
tst_vect shape -- (346, 13403)

,00,000,0000,000688,000696,000697,000702,000703,000706,000lb,...,zr,zr1,zr17,zr19,zx2,zx4,él,éxito,último,único
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

trn_vect shape -- (3112, 13403)
tst_vect shape -- (346, 13403)

trn_vect2:

,00,000,0000,000688,000696,000697,000702,000703,000706,000lb,...,zr,zr1,zr17,zr19,zx2,zx4,él,éxito,último,único
0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.250000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.021110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.121268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

-----------------------------------------------
##### Ridge - Prediction Scores:
-----------------------------------------------
RMSE: 8529.7
 R^2: 0.4324
 MAE: 5914.6

### Something to read: A Practitioner's Guide to Natural Language Processing
###### https://towardsdatascience.com/a-practitioners-guide-to-natural-language-processing-part-i-processing-understanding-text-9f4abfd13e72